


/* large desktop */
@media only screen and (max-width: 1200px) {}


/* laptop and mini tab */
@media only screen and (max-width: 992px) {
    .navlist .li{
        display: none;
    }
    .navlist #search{
        display: block;
    }
}


/* tablet */
@media only screen and (max-width: 768px) {
    header.header-h2{
font-size: 60px;
    }
    header.header-p{
        font-size: 27px;
    }


}


/* phone */
@media only screen and (max-width: 600px) {}
