
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url(../images/Background.png);
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-family: "Montserrat";
    background-size: 100% 100%;
}
header .header-h2{
    padding-top: 70px;
/* font-size: 108px; */
font-size: 7vw;
text-transform: uppercase;
/* padding-block: 10px; */
font-weight: 700;


}
header .header-p{
    /* width: 1639px; */
width: 69.8%;
margin: auto;
/* font-size: 30px; */
font-size: 2.5vw;
margin-bottom: 60px;

font-weight: 400;

}
header .header-btn{
    font-size: 25px;
   padding: 5px 12px;
    font-weight: 400;
    margin-bottom: 70px;
    border-radius: 4px;
    background-color: #f6d365;

}



.nav{
    padding-top: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 600;
    justify-content: space-between;
}
.navlist{
    list-style: none;
}
.navlist .list{
    display: inline-block;
    padding: 0px 15px;
}.navlist .list a{
    color: #ffffff;
    text-decoration: none;
}
.navlist #search{
    display: none;
}
.logo{




}
/* utility class */
.container{
    width: 90%;
    margin: auto;
}
