*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(194, 198, 198, 0.415);
}
.container{
    width: 80%;
    margin: auto;
}
.row{
 

}
.col{
    display: flex;
    flex-direction: column;
}
.col{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.row1{
    padding-block: 50px;
}

.col .c1{
    width: 33.3%;
    background-color: white;
}
.col .c1 h2{
    background-color: gray;
    font-size: clamp(16px,5vw,32px);
    text-align: center;
    padding: 50px 5px;
    color: white;
    
}.col .c1 p{
    font-size: clamp(16px,1.5vw,22px);
    padding: 10px 5px;
}
.col .c1  button{
    padding: 7px 20px;
    margin: 5px 5px;
    font-size: clamp(15px ,1vw ,21px);
}
    @media only screen and (max-width:1010px) {
        .col{
            flex-direction: column;
        
        }
       .col .c1{
            width: 80%;
            margin: auto;
        }
        
    }